<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order on KittenMArket</h1>
    <p>An order has just been placed with The Kitten Project.</p>
    <ul>
      <li>Customer n°<%= @order.user.id %></li>
      <li>Customer email: <%= @order.user.email %></li>
      <li>Amount paid: <%= number_to_currency(@order.amount, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></li>
    </ul>
  </body>
</html>