.fk-profile{
  height: auto;  
  background-image: url("https://live.staticflickr.com/7487/15379831214_70eb427f42_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.table{
  background-color: white;
}