.password-bg{
    background-image: url("https://images.wallpaperscraft.com/image/silhouette_photographer_dark_140842_3840x2160.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#bg-password{
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 220px;
    margin-left: 10px;
    color: white;
 }
 