<div class="fk-footer">
  <footer class="footer-4">
    <div class="container">
      <div class="row ">
        <div class="col-md-8 text-md-right mt-2 pt-1">
          <p class="copyright ">Copyright &copy; KittenMarket. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
