<footer class="footer-4">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 text-md-right mt-2 pt-1">
        <p class="copyright ">Copyright &copy; YourStartup. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-right mb-4">
        <ul class="social">
          <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
          <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
          <li><a href="#" title="Google+" class="fa fa-google"></a></li>
          <li><a href="#" title="Dribbble" class="fa fa-dribbble"></a></li>
          <li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
          <div class="clear"></div>
        </ul>
      </div>
      <span class="d-flex flex-row-reverse me-auto"><a href="#top">Back to top</a></span>
    </div>
  </div>
</footer>
